@use 'src/scss/reset';

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600;900&display=swap');


//Colors
$main_bg_color : #000000;
$accent_color : #f9f871;
$primary_color : #7a00b4;
$primary_color_hover : #660093;
$main_font_color: #fefefe;

//Font properties
$font_light : 300;
$font_regular: 400;
$font_semi: 600;
$font_bold : 900;

:root{
  font-family: 'Barlow', sans-serif;
}

body {
  background: $main_bg_color;
  color: $main_font_color;
  font-weight: $font_regular;
  font-size: 1.1rem;
  line-height: 1.5;
}

h1,
h2,
h3{
  text-transform: uppercase;
  font-weight: $font_semi;
  line-height: 0.9;
}


ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}



.wrapper {
  width: 100%;
  margin: 0 auto;
}

.light{
  font-weight: $font_light;
}
.regular{
  font-weight: $font_regular;
}
.semi{
  font-weight: $font_semi;
}
.bold{
  font-weight: $font_bold;
}


.color__accent{
  color: $accent_color;
}


header{
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 2.5rem 0.2rem 1.5rem;
  //background-color: rgb(0 0 0 / 0.5);
  background-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0.1));
}

.header__locked{
  position: fixed;
  top: 0;
  width: 100%
}


.hero__image{
  background-image: url("../img/hero-montain-bw-gradient_fitted.png");
  background-size: 2000px;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  min-height: 550px;
  height: 100%;
  width: 100%;
}


.logo {
  display: flex;
}

.svg__logo{
  margin: auto;
  max-height: 5vh;
  opacity: 0.6;
}

.menu{
  display: flex;
}

.menu__option{
  line-height: 0.9;
  padding: 5px;
  font-size: 1em;
}

.menu__selected{
  border-bottom: 0.1em solid $accent_color;
}


.btn {
  text-align: center;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  font-weight: $font_semi;
  font-size: 1.125rem;
  margin: 2rem;
  background-color: $primary_color;
  border-radius: 0.75rem;
  transition: all 150ms ease;
}

.btn:hover{
  background-color: $primary_color_hover;
  box-shadow: 0 0 0.25rem 0.1rem rgba(255, 255, 255, 0.15);
  transition: all 150ms ease;
}



@media screen and (min-width: 2000px) {

  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
}